* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body * {
    font-family: 'inter', sans-serif;
}

a {
    text-decoration: none;
}

.bg-color{
    background-color: #327da8; 
}

.bg-color .nav-link {
    color: white;
    font-weight: 500; 
}

.bg-color .nav-link:hover {
    color: #000000	; 
}

#title {
    text-align: center;
}
