* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg-color{
    background-color: #F0E68C	; 
    color: white; 
}

.bg-color .nav-link {
    color: white; 
}

.bg-color .nav-link:hover {
    color: #000000	; 
}
